.navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.logo {
  margin: 0;
  text-align: center;
}

.navbar-item {
  display: block;
}

.navbar-item a {
  display: block;
  border-bottom: #444 dotted 1px;
  padding: 5px;
  text-align: center;
}

.showcase {
  height: 100%;
}
.showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

.home-info {
  height: 500px;
}

.info-img {
  display: none;
}

.info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

.about-info .info-right,
.about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
  line-height: 1.2;
}

.testimonials {
  height: 100%;
  padding-top: 30px;
}

.contact-info .box {
  border-bottom: #444 dotted 1px;
}
